.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  margin: 0 0 40px;
}
.footer__description {
  display: flex;
}
.footer__text {
  text-align: center;
  background-color: #ebf0fa;
  margin: 0;
  padding: 0 8px;
  color: #2264e5;
}
.footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__item {
  margin: 0;
  padding: 0 4px;
}
.footer__item_header {
  padding-right: 2px;
}
.item__link {
  text-decoration: none;
  color: #2264e5;
  background-color: #ebf0fa;
  padding: 0 8px;
  font-weight: 500;
}
