@import url(./vendor/fonts/inter.css);

.App {
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
  font-family: Inter, Arial;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-size: 18px;
  font-weight: 500;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
