.tableItem__list {
  display: grid;
  grid-template-columns:
    35px 160px 238px 70px 100px 100px
    100px;
  height: 64px;
  gap: 0 10px;
  padding: 0 50px;
}

.tableItem__list:nth-child(even) {
  background-color: #F9FAFC;
}

.tableItem {
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
